//- head.jade

head
    meta(charset='utf-8')
    meta(name='viewport' content='content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0')
    meta(name='env' content=env)
    meta(http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1')
    meta(name='theme-color' content='#000000')
    meta(name='description' content='Biblo er bibliotekernes nye website til børn under 14 år. Her kan man finde grupper om alt muligt, deltage i konkurrencer og snart låne bøger, film, spil og musik.')

    // FAVICON ETC START
    link(rel="shortcut icon" href="/favicons/favicon.ico" type="image/x-icon")
    link(rel="icon" href="/favicons/favicon.ico" type="image/x-icon")
    link(rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png")
    link(rel="manifest" href="/favicons/manifest.json")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")
    // FAVICON ETC END

    title!= title

    block styles
        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css')

    block scripts
        if newrelic
          include newrelic

        if production
          script(src='//cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js', type='text/javascript' defer=true)
          script(src='//cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js', type='text/javascript' defer=true)
          script(src='/scripts/webtrends.min.js', type='text/javascript' defer=true)
          script(src='/scripts/webtrends.load.js', type='text/javascript' defer=true)
        else
          script(src='//cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.js', type='text/javascript' defer=true)
          script(src='//cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.js', type='text/javascript' defer=true)

        script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.9.0/lodash.min.js', type='text/javascript' defer=true)
        script(src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js', type='text/javascript', defer=true)

        // Set by the globals.middleware.js
        script window.USER_IS_LOGGED_IN = !{isLoggedIn || false};
