//- page.jade

extends layout

block append styles
  if css && css.length
    each val in css
      link(rel='stylesheet', href=val)

block append footerscripts
  if js && js.length
    each val in js
      script(src=val defer=true)

  if data && data.length
      each val in data
        script window['!{val.propertyName}'] = '!{val.data}';

  if jsonData && jsonData.length
      each val in jsonData
        script(id='JSONDATA', type='application/json') !{val}

  if profile
      script(id='JSONDATA_USER_PROFILE', type='application/json') !{profile}

  if profileImage
      script(id='JSONDATA_USER_PROFILE_IMAGE', type='application/json') !{profileImage}

block prepend body
    #content
